<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/cap-cut-7.5.0-1673255271/CapCut_7.5.0_1673255271.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>ICONS/6EA2E19D-F154-4F73-BBBF-59B855C3E578.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>ICONS/6EA2E19D-F154-4F73-BBBF-59B855C3E578.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.reantry.CapCut</string>
				<key>bundle-version</key>
				<string>7.5.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
		                <string>ខ្មែរស្រលាញ់ខ្មែរ</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
